<div id="<%= dom_id bill %>">
  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bill.status %>
  </p>

  <p>
    <strong>Bill type:</strong>
    <%= bill.bill_type %>
  </p>

</div>
